@charset "utf-8";

/* webfont */
/* 웹폰트없으면 지우세요!!! */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #3e3e3e;
    padding-top: 100px;
    font-weight: 400;
}

#wrap {
    min-width: 1360px;
    overflow-x: hidden;
}

/* header_S */
#header {
    background-color: rgba(182, 197, 195, 0.8);
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.inner_header .logo {
    text-align: center;
    padding: 16px 0;
}

.inner_header .util {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    margin-top: 16px;
}

.inner_header .util li a {
    display: block;
    width: 100%;
    margin-right: 26px;
}

.inner_header .gnb {
    display: flex;
    justify-content: center;
}

.inner_header .gnb li a {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
    padding-bottom: 16px;
    padding-right: 50px;
}
.ritualtest{
    position: absolute;
    top: 61px;
right: 5px;
    z-index: 99;
}
.ritualtest a{
  color: #ffffff;
  display: block;
}
.ritualtest a:hover{
    color: #3f725b;
   
}

/* header_E */

/* Visual_S */
/*swiper 1 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#visual .swiper-button-prev:after,
#visual .swiper-rtl .swiper-button-next:after {
    content: url(../images/Visual/left_btn.svg);
}

#visual .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: url(../images/Visual/right_btn.svg);
}

/* Visual_E */

/* Products_Our limited Edition_S */
#section1 {
    margin: 0 auto;
    padding:60px 0;
    width: 1320px;
    cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;
    position: relative;
}
#section1-1{
    position: absolute;
    top: -100px;
}
.title_wrap {
    display: flex;
}

.title {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 50px;
    padding: 0 30px;
}

.introduce {
    font-size: 16px;
    font-weight: 500;
}

.middle_title {
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
    color: rgb(155, 212, 185);
    text-align: center;
    margin: 36px 0;
}

.content {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 36px;
}

.incense {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.img_wrap {
    overflow: hidden;
    border-radius: 180px 180px 0 0;
}

.img_wrap img {
    display: block;
    transform: scale(1);
    transition: transform 0.3s;
}

.img_wrap img:hover {
    transform: scale(1.1);

}

.incense .text {
    background-color: #efefef;
    height: 238px;
    width: 327px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
}

.text .en_name {
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
}

.text strong {
    font-weight: 700;
    font-size: 18px;
}

.number,
.scent {
    font-weight: 400;
}

.text .scent {
    margin-bottom: 15px;
}

.text .number {
    padding: 12px 0 20px;
}

.btn {
    width: 84px;
    height: 30px;
    border: 2px solid #6E8D7F;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.btn a {
    color: #6E8D7F;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 1px 9px;
}

/* Products_Our limited Edition_E */

/* chatbot_S */
#chatbot, #modal{
    cursor: pointer;
}
#chatbot{
 position: fixed;
   bottom:100px;
right:36px;
    z-index: 99;
}
#chatbot img{
    display: inline-block;
}
#modal {
    position: fixed;
  bottom: 159px;
  right: 214px;
    z-index: 99;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.popup {
    width: 357px;
    height: 160px;
    box-sizing: border-box;
    background-color: #fff;
      border-radius: 30px 30px 0 0;
      background: url(../images/chatbot/topbg.png)no-repeat center;
      position: relative;
}
.chatlogo{
    padding-top:30px ;
    text-align: center;
}
.popup p{
      text-align: center;
     margin: 22px 0;
     font-weight: 500;
     color: #fff;
}
.popupcontent{
    width: 357px;
    height: 416px;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    text-align: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.popupinfo{
    padding:60px 0 24px;
}
.qabtn{
    width: 191px;
    height: 29px;
    background-color: #D9D9D9;
    display: inline-block;
    border-radius: 20px;
    margin-top: 58px;
    padding: 6px 60px;
    box-sizing: border-box;
}
.qabtn p{
    font-weight: 600px;
    color: #fff;
}

.channeltalk{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding:13px 0 58px;
}
.channeltalk_wrap img{
    display: block;
}
.chatutil{
    display: flex;
    justify-content: center;
    gap:103px;
}
.chatutil img{
    display: block;
    width: 100%;
}
.chatutil p, .channeltalk p{
    font-size: 12px;
    line-height: 18px;
}
#popup_close {
    position: absolute;
    top: 13px;
    right:13px;
    z-index: 99;
    color: #3e3e3e;
    font-size: 16px;
    font-weight: 800;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    display: inline-block;
width: 25px;
height: 25px;
box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    text-align: center;

}

.btn_wrap {
    cursor: pointer;
}
/* chatbot_E */


/* Products_Our Products_S*/
#section2 {
    height: 786px;
    background: url(../images/Products_Products/bg.jpg)no-repeat center;
}

.inner_section2 {
    margin: 0 auto;
    width: 1320px;
}

.middle_title2 {
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
    color: rgb(155, 212, 185);
    text-align: center;
    padding-top: 60px;
}

.content2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    margin: 36px 0;
}

/* swiper2 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

#swiper_wrap .swiper-button-prev:after,
#swiper_wrap .swiper-rtl .swiper-button-next:after {
    content: url(../images/Products_Products/leftbtn.svg);
}

#swiper_wrap .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: url(../images/Products_Products/rightbtn.svg);
}

#swiper_wrap {
    position: relative;
    margin: 0 auto;
    width: 1320px;
    padding-bottom: 60px;
}

#swiper_wrap .swiper-button-next,
#swiper_wrap .swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 32%);
}

/* Products_Our Products_E*/

/* Brand_Our story_S */
#section3 {
    background: url(../images/Brand_Story/bg.jpg) no-repeat center;
    height: 900px;
    position: relative;
}
#section3-1{
    position: absolute;
    top: -30px;
}
.inner_section3 {
    margin: 0 auto;
    width: 1320px;
    padding-top: 130px;
    position: relative;
}

.middle_title span {
    color: #ffffff;
}

.arch {
    width: 520px;
    height: 380px;
    border-radius: 260px 260px 0 0;
    background-color: #3e3e3e;
    opacity: 40%;
    text-align: center;
    position: absolute;
   bottom:200px;
left: 50%;
transform: translateX(-50%);
    z-index: 97;
}
.archcontent{
    position: absolute;
top: 317px;
left: 6px;
z-index: 99;
width: 100%;
}
.archlogo {
    margin-top: 77px;
    display: block;
    text-align: center;
}

.archcontent p {
    color: #EFEFEF;
    text-align: center;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 24px;
}

.archcontent .minttext {
    font-size: 16px;
    line-height: 1.5em;
    color: #9BD4B9;
    font-weight: 500;
    text-align: center;
margin-bottom: 77px;
}

/* Brand_Our Story_E */


/* Brand_Our Scent_S */
#section4 {
    margin: 0px auto;
    width: 1320px;
}

.aromaline {
    width: 1320px;
    margin: 0px auto;
    padding-bottom: 60px;
}

.aroma {
    display: flex;
    text-align: center;
}

.arch_wrap {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}

.arch_wrap2 {
    display: block;
    width: 100%;
    margin-top: 32px;
}

.key {
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    line-height: 30px;
    color: rgb(155, 212, 185);
    text-align: center;
    padding-top: 32px;
}

.aromadetail {
    padding-bottom: 32px;
}

/* Brand_Our Scent_E */

/* Brand_Our Sustainability_S */
#section5 {
    background: url(../images/Brand_Sustainability/bg.jpg)no-repeat center;
    height: 900px;
    cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;
}

.inner_section5 {
    margin: 0 auto;
    width: 1320px;
}

.boxwrap {
    width: 1012px;
    height: 516px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    position: relative;
}

.circle {
    position: absolute;
    top: 187px;
    left: 435px;
    z-index: 99;
    width: 100%;
}

.topbox,
.bottombox {
    width: 1012px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.top_left,
.bottom_left {
    text-align: right;
    width: 262px;
    height: 250px;
}

.top_right,
.bottom_right {
    width: 262px;
    height: 250px;
}

.topleftimg {
    width: 218px;
    height: 219px;
    position: absolute;
    top: 34px;
    left: 283px;
    z-index: 98;
}

.toprightimg {
    width: 218px;
    height: 219px;
    position: absolute;
    top: 34px;
    right: 293px;
    z-index: 98;
}

.bottomleftimg {
    width: 218px;
    height: 219px;
    position: absolute;
    bottom: 36px;
    left: 283px;
    z-index: 98;
}

.bottomrightimg {
    width: 218px;
    height: 219px;
    position: absolute;
    bottom: 36px;
    right: 293px;
    z-index: 98;
}

.topbox img,
.bottombox img {
    display: block;
    width: 100%;
}

.topleftimg img:hover,
.toprightimg img:hover,
.bottomleftimg:hover,
.bottomrightimg:hover {
    filter: blur(3px);
}

.subheading {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.topcontent {
    padding-bottom: 144px;
}

.bottombox .subheading {
    padding-top: 144px;
}

.bottomtext {
    padding: 28px 0 60px;
    text-align: center;
    font-size: 16px;
}

/* Brand_Our Sustainability_E */

/* Ritual_S */
#section6 {
    background: url(../images/Ritual_Ritual/bg.jpg)no-repeat center;
    height: 900px;
    position: relative;
}
#section6-1{
    position: absolute;
    top:-30px;
}
.inner_section6 {
    margin: 0 auto;
    width: 1320px;
    padding-top: 130px;
    color: #fff;
    position: relative;
}

.mint {
    color: #9BD4B9;
}

.arch2 {
    width: 520px;
    height: 380px;
    border-radius: 260px 260px 0 0;
    background-color: #9BD4B9;
    opacity: 40%;
    text-align: center;
    position: absolute;
    top: 112%;
    left: 31%;
    z-index: 97;
}
.archcontent2{
    position: absolute;
top: 348px;
left: 6px;
z-index: 99;
width: 100%;
}
.archtext {
    margin: 64px 0;
    text-align: center;
    line-height: 28px;
}

.caution {
    margin: 64px 0 20px;
    text-align: center;
}

.btn2 {
    width: 84px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 619px; 
    animation: ritual 5s linear infinite;
}
.btn2:hover{
  border:2px solid #9BD4B9;
}

@keyframes ritual {
    0% {
        transform: rotate(0deg);
    }
    100% {
transform: rotate(360deg);
    }
}


.btn2 a {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 3px 8px;
    display: inline-block;
}
.btn2 a:hover{
    color: #9BD4B9;;
}
/* Ritual_E */

/* Ritual story & Curation_S */
#section7 {
    margin: 0 auto;
    height: 760px;
    width: 1320px;
    cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;
    display: flex;
}

.story,
.curation {
    width: 660px;
    height: 214px;
    cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;
}

.cover_wrap {
    position: relative;
}

.cover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 180px 180px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    transition: opacity 0.5s;
}

.cover1 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 180px 180px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    transition: opacity 0.5s;
}

.cover:hover,
.cover1:hover {
    opacity: 1;
}

.storyimg,
.curationimg {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-bottom: 60px;
}

.storyimg img,
.curationimg img {
    display: block;
    width: 100%;
}

/* Ritual story & Curation_E */

/* Store_Our Place_S */
#section8 {
    height: 711px;
    background: url(../images/Store_Places&Circle/bg1.jpg) no-repeat center;
    position: relative;
}
#section8-1{
    position: absolute;
    top: -100px;
}
.inner_section8 {
    margin: 0 auto;
    width: 1320px;
    padding: 60px 0;
}

.store_wrap {
    display: flex;
    margin-top: 36px;
}

.store {
    width: 660px;
    height: 520px;
    background-image: url(../images/Store_Places&Circle/store1.png);
    background-position: center;
    background-repeat: no-repeat;
    animation: store 5s linear infinite;
}

@keyframes store {
    0% {
        background-image: url(../images/Store_Places&Circle/store1.png);
    }

    50% {
        background-image: url(../images/Store_Places&Circle/store2.png);
    }

    100% {
        background-image: url(../images/Store_Places&Circle/store3.png);
    }
}

.store img,
.collabo img {
    display: block;
    width: 100%;
}

.storeinfo {
    margin-left: 28px;
    padding: 180px 0 25px;
}

.middle_title3 {
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
    color: rgb(155, 212, 185);
    margin-bottom: 36px;
}

.content3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 36px;
}

.info {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}
.info a{
    color: #9BD4B9;
}
/* Store_Our Place_E */

/* Store_Our circle_S */
#section9 {
    height: 703px;
    background: url(../images/Store_Places&Circle/bg2.jpg) no-repeat center;
}

.inner_section9 {
    margin: 0 auto;
    padding: 60px 0 120px;
    width: 1320px;
}

.circle_wrap {
    display: flex;
}

.circle_wrap p {
    text-align: right;
}

.circleinfo {
    margin-right: 28px;
    padding: 277px 0 25px;
    margin-left: 264px;
}

.btn3 {
    width: 84px;
    height: 30px;
    border: 2px solid #6E8D7F;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 285px;
}

.btn3 a {
    color: #6E8D7F;
    font-weight: 600;
    text-align: center;
    padding: 3px 15px;
    display: inline-block;
}

.collabo {
    width: 660px;
    height: 520px;
    background-image: url(../images/Store_Places&Circle/yoga.png);
    background-position: center;
    background-repeat: no-repeat;
    animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-image: url(../images/Store_Places&Circle/yoga.png);
    }

    100% {
        background-image: url(../images/Store_Places&Circle/collabo.png);
    }
}

/* Store_Our circle_E */

/* Store aromatheraphy_S */
#section10 {
    height: 912px;
    background: url(../images/Store_aromatheraphy/bg.jpg);
        cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;

}

.inner_section10 {
    margin: 0 auto;
    width: 1320px;
            cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;

}

.theraphy_top,
.theraphy_bottom {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.theraphy_top {
    margin-bottom: 20px;
}

.theraphy_bottom {
    margin-left: -17px;
}

.theraphy_top img,
.theraphy_bottom img {
    display: block;
    width: 100%;
            cursor: url(../images/Products_LimitedEdition/Asset\ 2.svg)0 0, auto;
}

.theraphy_title {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}

.theraphy_content {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 36px;
}

.theraphy_content2 {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.btn4 {
    width: 84px;
    height: 30px;
    border: 2px solid #6E8D7F;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 305px;
}

.btn4 a {
    color: #6E8D7F;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 1px 9px;
}

/* Store aromatheraphy_E */


/* Support notice&QA_S */
#section11 {
    height: 900px;
    background: url(../images/Support_Notice&QA/bg.jpg) no-repeat center;
    position: relative;
}
#section11-1{
    position: absolute;
    top: -100px;
}
.inner_section11 {
    margin: 0 auto;
    padding-top: 60px;
    width: 1320px;
}

.supporttitle {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 50px;
    padding: 0 30px;
}

.supportcontent {
    font-size: 16px;
}

.supportwrap {
    display: flex;
}

.title_wrap3 {
    display: flex;
    color: #fff;
}

.notice {
    background-color: rgba(255, 255, 255, 0.5);
    width: 659px;
    height: 534px;
    border-radius: 20px 0 0 0;
    padding: 36px 23px 36px 62px;
    margin-top: 94px;
    box-sizing: border-box;
}

.noticetext {
    display: flex;
}

.middle_title4 {
    font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
    color: rgb(155, 212, 185);
    margin-right: 36px;
}

.content4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}

.border {
    margin-top: 36px;
}

.line {
    display: flex;
    gap: 30px;
    border-top: 1px solid #6E8D7F;
}

.line li:nth-child(1) {
    width: 42px;
    text-align: center;
}

.line li:nth-child(2) {
    width: 374px;

}

.line li:nth-child(3) {
    width: 88px;
    text-align: center;
}

.line li {
    padding: 22px 0;
}

.border .line:nth-child(1) {
    text-align: center;
}

.border .line:nth-child(6) {
    border-bottom: 1px solid #6E8D7F;
}

.QA {
    background-color: rgba(255, 255, 255, 0.5);
    width: 659px;
    height: 534px;
    border-radius: 0 0 20px 0px;
    padding: 36px 23px 36px 62px;
    margin-top: 94px;
    box-sizing: border-box;
}

.line span {
    color: #9BD4B9;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
}

/* Support notice&QA_E */

/* Support Review_S */
#section12 {
    width: 1320px;
    margin: 0 auto;
}

#leftslide {
    width: 1920px;
    height: 322px;
    margin: 0 auto;
    position: relative;
}

#rightslide {
    width: 1920px;
    height: 322px;
    margin: 0 auto;
    position: relative;
    margin-top:10px
}

.review .swiper-wrapper {
    transition-timing-function: linear;
}

.review .swiper-slide3 {
    display: flex;
    justify-content: center;
    align-items: top;
border-radius: 20px;
 
}

.review .swiper-slide3 img {
    display: block;
    width: 100%;
    /* height: 322px; */
    /* object-fit: cover; */
}
/* Support Review_E */

/* text_S */
#section13{
    margin: 60px auto;
    width: 1320px;
}
#section13 p{
     font-style: italic;
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
    font-size: 32px;
    color: rgb(155, 212, 185);
    text-align: center;
}
/* text_E */

/* footer_S */
#section14{
    height: 400px;
    background-color: #B6C5C3;
  
}
.inner_section14{
    margin: 0 auto;
    width: 1320px;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #fff;
position: relative;
}
.top_btn{
            position: fixed;
            bottom: 18px;
            right: 34px;

}
.leftfooter p{
    padding-top: 27px;
}
.rightfooter{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.footerutil li a:hover{
    color: #9BD4B9;
}
.footerutil li {
    margin-bottom: 20px;
}
.footerutil li:nth-child(1){
    font-weight: 700;
}